@define-color base   #1e1e2e;
@define-color text     #cdd6f4;
@define-color surface0 #313244;
@define-color blue     #89b4fa;

* {
    font-family:   "FiraCode Nerd Font Propo";
    font-size:     14px;
}

window {
   background: transparent;
}

#workspaces {
    border-radius: 7px;
 		border: 2px solid @blue;
	  background: @base;
		color: @text;
}

#workspaces button {
    background: @base;
		color: @text;
		padding: 0 5;
}

#workspaces button.visible, #workspaces button.unfocused {
    color: @text; 
}

#workspaces button.focused {
    color: @blue;
		background-color: @surface0;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
		border: none;
		background-color: @surface0;
		color: @blue;
}

#custom-notification, #wireplumber, #scratchpad, #clock, #network, #cpu, #battery, #memory, #tray, #custom-CPUtempreature, #custom-weather {
		margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 2px solid @blue;
		transition: none;
    color: @text;
    background: @base;
}

