/* colors */

* {
  background:     #1e1e2eFF;
  background-alt: #1e1e2eFF;
  foreground:     #cdd6f4FF;
  selected:       #89b4faFF;
  active:         #cdd6f4FF;
	item-bg:				#313244FF;
  font:           "FiraCode Nerd Font 13";
}
