@import "../colors.scss";

/** Global *******************************************/
*{
	all: unset;
	font-family: "RobotoMono Nerd Font Propo";
}

/** Background ***************************************/
.bg {
  all: unset;
	background-image: url("./dashboard/images/bg.png");
	background-position: center;
  opacity: 1;
  border-radius: 20px;
	border: 3px solid $green;
  
  /* Reset padding/margins to ensure full coverage */
  padding: 20px;
  margin: 0;
}

/** Generic window ***********************************/
.genWin {
	background-color: $background;
  border-radius: 16px;
  padding-top: 1.3rem;
	padding-bottom: 1.3rem;
  padding-left: 2.4rem;
	padding-right: 2.4rem;
  box-shadow: 5px 10px 5px $Lbackground;
}

.genWin:hover {
  background-color: rgba($background, 0.95);
  border: 1px solid $green; /* Highlights tile on hover */
  transition: 300ms cubic-bezier(0.05, 0.7, 0.1, 1); 
}

/** Layouts ******************************************/
.rightLay {
  margin-right: 1rem;
  margin-top: 1rem;
}

.midLay {
  margin-top: 1rem;
}

.leftLay {
  margin-left: 1rem;
  margin-top: 1rem;
}

/** Profile ******************************************/
.face {
	background-size: 200px;
	min-height: 200px;
	min-width: 200px;
	margin: 60px 0px 0px 0px;
	border-radius: 100%;
}

.fullName {
	color: $magenta;
	font-size : 30px;
	font-weight : bold;
}

.pfpInfo {
  background-color: $Lbackground;
  border-radius: 20px;
  padding: 10px;
  font-size: 22px;
}

.dInfo1 {
	color: $red;
}

.dInfo2 {
	color: $blue;
}

.dInfo3 {
  color: $green;
}

.dInfo4 {
	color: $yellow;
}

/** Date ********************************************/

.mDate {
	color: $foreground;
	font-size : 40px;
	font-weight : bold;
  margin-left: -100px;
}

.mDateIcon {
	color: $green;
	font-size : 70px;
	font-weight : bold;
  margin-left: -90px;
}

/** Uptime ********************************************/
.iconTimer {
	color: $red;
	font-size : 90px;
	font-weight : normal;
}

.upHour {
	color: $foreground;
	font-size : 30px;
	font-weight : bold;
}

.upMin {
	color: $foreground;
	font-size : 30px;
	font-weight : bold;
}

.upMin, .upHour {
  min-width: 157px;
}

/** Weather ***************************************/
.iconWeather {
	font-family: "RobotoMono Nerd Font";
	font-size : 120px;
	font-weight : normal;
	margin : 15px 0px 0px 30px;
}

.weatTemp {
	color : $blue;
	font-size : 30px;
	font-weight : bold;
	margin : 0px 0px 0px 0px;
}

.weatStat {
	color : $foreground;
	font-size : 38px;
	font-weight : bold;
}

/** Applications ***************************************/
.appBox {
	margin: 0rem 0rem 1.3rem 0rem;
}

.appDash {
  background-repeat: no-repeat;
	background-size: 64px;
	background-position: center;
  min-height: 64px;
	min-width: 64px;
	margin: 8px 8px 0px 8px;
}

/** Music Player **************************************/
.musicBox {
  margin-bottom: 0;
}

.musicCover {
  border-radius: 30rem;
  margin-left: -20px;
}

.musicTitle {
  font-size: 1.3rem;
  font-weight: 900;
  color: $cyan;
}

.musicArtist {
  font-size: 1rem;
  color: $foreground; 
  opacity: 0.7;
}

.musicControls {
	margin-left: 7.5rem;
}

.musicSep {
  background-color: $green; 
}

.musicBtnPlay {
  font-size: 2rem;
  color: $foreground; 
}

.musicBtn {
  font-size: 2rem;
  color: $foreground;
}

.musicBarContainer {
  padding: 0;
  margin-right: -5px;
  margin-left: 5px;
}

.musicBar {
  trough {
    background-color: rgba($foreground, 0.1); 
    border-radius: 10px;
    min-height: 8px;
    min-width: 300px;
  }
  highlight {
    background-color: $green; 
    border-radius: 10px;
    transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
  }
}

.musicBar slider {
  background-color: $green; 
  border-radius: 100%;
  border: 1px solid $background; 
  min-height: 12px;
  min-width: 12px;
}

/** Control Panel *******************************/
.cpI {
  font-family: "RobotoMono Nerd Font";
  font-size: 1.3rem;
  font-weight: bold;
}

.sliderCtl {
  box-shadow: 10px 10px 0px $blue;
  border-radius: 15px;
  background-color: $background;
}

.volumeSlider {
  margin-top: 2px;
  margin-left: -15px;
  margin-bottom: 2px;
}

.lightSlider {
  margin-bottom: 10px;
  margin-left: -13px;
}

.micSlider {
  margin-top: 10px;
  margin-left: -13px;
}

.vol trough,
.lig trough,
.mic trough {
  background-color: $Lbackground;
  box-shadow: 0 2px 3px 2px $background;
  border-radius: 50px;
  min-height: 15px;
  min-width: 260px;
  margin: 0 0 0 20px;
}

.vol {
  margin-left: 2px;
}

.lig {
  margin-left: 0;
}

.vol trough highlight {
  background-color: $green;
  border-radius: 10px;
}

.volumeSlider,
.volumeShort {
  color: $green;
}

.lig trough highlight {
  background-color: $yellow;
  border-radius: 10px;
}

.mic trough highlight {
  background-color: $cyan;
  border-radius: 10px;
}

.lightSlider {
  color: $yellow;
}

.micIcon {
  font-size: 1.2rem;
  color: $cyan;
  margin-left: 3px;
}

.volIcon {
  font-size: 1.2rem;
  margin-left: 8px;
}

.ligIcon {
  font-size: 1.2rem;
  margin-left: 3px;
  margin-right: -4px;
}

/** Bluetooth ***********************************/
.btName {
  color: $red;
  font-weight: 900;
  font-size: 18px;
  min-width: 15.5rem;
}

.btIcon {
  font-size: 26px;
  font-weight: bold;
  border-radius: 20px;
  background-color: $yellow;
  color: $background;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-left: 4rem;
  margin-right: 4rem;
}

.btBox {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
  padding-right: 3.5rem;
}

/** Links ***************************************/
.iconWeb {
	color: $foreground;
	font-family: "RobotoMono Nerd Font";
	font-size : 70px;
	font-weight : normal;
}

.iconMail, .iconGit {
	background-color: $background;
	color: $yellow;
	font-family: "RobotoMono Nerd Font";
	font-size : 48px;
  margin: 0px 0px 0px 15px;
	font-weight : normal;
}

.iconGit {
	color: $green;
}

.udemy {
	background-color: #A435F0;
  color: $foreground;
  border-radius: 16px;
  padding: 2rem 3.5rem 2rem 3.5rem;
  box-shadow: 5px 10px 5px $Lbackground;
}

.arch {
	background-color: #1793d1;
  color: $foreground;
	border-radius: 16px;
  box-shadow: 5px 10px 5px $Lbackground;  
  padding: 2rem 3.5rem 2rem 3.5rem; 
}

.stacko {
	background-color: #F48024;
	color: $foreground;
  border-radius: 16px;
  padding: 2rem 3.5rem 2rem 3.5rem; 
  box-shadow: 5px 10px 5px $Lbackground;
}

.youtube {
	background-color: #FF0000;
	color: $foreground;
  border-radius: 16px;
  padding: 2rem 3.5rem 2rem 3.5rem; 
  box-shadow: 5px 10px 5px $Lbackground;
}

.reddit {
	background-color: #FF4500;
  color: $foreground;
	border-radius: 16px;
  padding: 2rem 3.5rem 2rem 3.5rem; 
  box-shadow: 5px 10px 5px $Lbackground;
}

.mail {
	background-color: $background;
  border-radius: 16px;
}

.notiBox {
	background-color: $background;
	border-radius: 10px;
  min-width: 125px;
}

.notiLabel {
	color: $foreground;
	font-size : 32px;
  font-weight : bold;
	margin: 0px 0px 0px 10px;
}

/** Home folders ***************************************/
.cFold {
  background-color: $background;
	border-radius: 16px;
  padding-bottom: 14.5rem;
  box-shadow: 5px 10px 5px $Lbackground;
}

.hddBox {
	background-color: $background;
	border-radius: 10px;
	margin: 15px;
}

.hddIcon {
	color: $magenta;
	font-family: "RobotoMono Nerd Font";
	font-size : 70px;
	font-weight : normal;
	margin : 25px 20px 25px 40px;
}

.hddLabel {
	color: $foreground;
	font-size : 48px;
	font-weight : bold;
	margin : 0px 0px 0px 15px;
}

.fsSep {
	color: $foreground;
	font-size : 36px;
	font-weight : bold;
}

.iconFolder1, .iconFolder2, .iconFolder3, .iconFolder4, .iconFolder5, .iconFolder6, .iconFolder7 {
	font-family: "RobotoMono Nerd Font";
	font-size : 32px;
	font-weight : normal;
	margin : 0px 0px 0px 75px;
}

.iconFolder1 {
	color: $red;
}
.iconFolder2 {
	color: $blue;
}
.iconFolder3 {
	color: $green;
}
.iconFolder4 {
	color: $yellow;
}
.iconFolder5 {
	color: $magenta;
}
.iconFolder6 {
	color: $cyan;
}
.iconFolder7 {
	color: $Lgrey;
}

.labelFolder1, .labelFolder2, .labelFolder3, .labelFolder4, .labelFolder5, .labelFolder6, .labelFolder7 {
	font-size : 22px;
	font-weight : normal;
	margin : 0px 0px 0px 30px;
}
.labelFolder1 {
	color: $red;
}
.labelFolder2 {
	color: $blue;
}
.labelFolder3 {
	color: $green;
}
.labelFolder4 {
	color: $yellow;
}
.labelFolder5 {
	color: $magenta;
}
.labelFolder6 {
	color: $cyan;
}
.labelFolder7 {
	color: $Lgrey;
}

/** EOF *************************************************/
