.container {
  box-shadow: 0 2px 3px 2px $shadow;
  background-color: $background;
  border: 2px solid $yellow;
  margin: 5.5px;
  border-radius: 20px;
  padding: 5px;
  min-width: 385px;
}

.mainContainer {
  background-color: $background;
  border: 2px solid $yellow;
  margin: 5.5px;
  border-radius: 20px;
  padding: 5px;
  min-width: 385px;
}

.mainTitle {
  margin-top: 15px;
  margin-bottom: 12px;
  margin-left: 15px;
  font-size: 20px;
  font-weight: bolder;
  color: $red;
}

.profile {
  background-color: $background;
  min-width: 370px;
  margin: 0px 7px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 15px;
}

.graphContainer {
  background-color: $background;
  min-width: 370px;
  margin: 0px 7px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 15px;
}

.pfp {
  background-image: url('./assets/pfp.png');
  background-size: 100px;
  background-position: 50% 35%;
  background-repeat: repeat;
  min-height: 90px;
  min-width: 100px;
  border-radius: 100%;
  margin-right: 20px;
}

.ctlPanel {
  min-width: 230px;
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px;
  background-color: rgba(65, 72, 86, 0.3);
  font-family: "RobotoMono nerd font";
}

.shutdown {
  color: $red;
  transition: color 0.3s;
  &:hover {
    color: $Lgrey;
  }
}

.logout {
  color: $green;
  transition: color 0.3s;
  &:hover {
    color: $Lgrey;
  }
}

.lockscr {
  color: $blue;
  transition: color 0.3s;
  &:hover {
    color: $Lgrey;
  }
}

.reboot {
  color: $yellow;
  transition: color 0.3s;
  &:hover {
    color: $Lgrey;
  }
}

.suspend {
  color: $magenta;
  transition: color 0.3s;
  &:hover {
    color: $Lgrey;
  }
}

.hibernate {
  color: $cyan;
  transition: color 0.3s;
  &:hover {
    color: $Lgrey;
  }
}

.mUsername {
  color: $foreground;
  font-size: 1.5rem;
  font-weight: bolder;
}

.upTime {
  color: $magenta;
}

