/* colors */

* {
  al:  #101010ff;
  bg:  #101010ff;
  se:  #101010ff;
  fg:  #FFFFFFff;
	txt: #C5C8C6ff;
  ac:  #FF1493;
  background:     #000000FF;
  background-alt: #000000FF;
  foreground:     #FF1493FF;
  selected:       #FF1493FF;
  active:         #FF1493FF;
  urgent:         #ff00ffFF;
}

/*
* {
    background:     #1E2127FF;
    background-alt: #282B31FF;
    foreground:     #FFFFFFFF;
    selected:       #61AFEFFF;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}

*/
