$background: #141b1e;
$Lbackground: #232a2d;
$foreground: #dadada;

$red: #e57474;
$blue: #67b0e8;
$green: #8ccf7e;
$yellow: #e5c76b;
$magenta: #c47fd5;
$cyan: #6cbfbf;
$Lgrey: #b3b9b8;

$shadow: #06060b;
$disabled: #737373;
