.bar {
  box-shadow: 0 2px 3px 1px $shadow-primary;
  border-radius: 10px;
  background-color: rgba($background, 0.4);
  padding: 6.5px;
}

.cpu-i,
.mem-i,
.up-i,
.temp-i,
.net-i,
.bat-i,
.bt-i,
.fan-i,
.aud-i,
.clk-i {
  color: $background;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px 0 0 10px;
}

.cpu-i {
  background-color: $red;
}
.mem-i {
  background-color: $green;
}
.temp-i {
  background-color: $yellow;
}
.fan-i {
  background-color: $yellow;
}
.net-i {
  background-color: $magenta;
}
.bt-i {
  background-color: $cyan;
  color: $background;
  border-radius: 16px;
}
.bat-i {
  background-color: $red;
}
.aud-i {
  background-color: $yellow;
}
.clk-i {
  background-color: $green;
}

.cpu-t1,
.cpu-t2,
.up-t,
.fan-t,
.temp-t,
.mem-t,
.net-t,
.bat-t,
.aud-t,
.clk-t,
.cava,
.notif-hist {
  font-family: "Noto Sans CJK JP";
  background-color: $Lbackground;
  color: $foreground;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 0 10px 10px 0;
}

/************ WORKSPACES ****************/
.workspace-container {
  background-color: $Lbackground;
  color: $foreground;
  border-radius: 10px;
}

.workspace-sway {
  background-color: $Lbackground;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  border-radius: 0.5rem;
}

.workspaces-widget {
  background-color: $Lbackground;
  padding: 5px;
  border-radius: 8px;
}

.workspace-btn {
  color: $Lgrey;
  background-color: $Lbackground;
  
  button {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  }

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  border-radius: 0.5rem;

  border-radius: 4px;
  font-weight: bold;

  /* 3. URGENT: Red/Alert color */
  &.urgent {
    color: $Lbackground;          /* Dark text */
    background-color: $red; /* yellow/Red background */
    animation-name: pulse;   
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  /* 4. FOCUSED (ACTIVE): Bright and distinct */
  &.focused {
    color: $background;          /* Dark text for contrast */
    background-color: $blue; /* Bright Blue background */
    box-shadow: 0 0 3px $blue; /* Optional: Glow effect */
  }
  
  &:hover {
    box-shadow: inset 0 0 0 20px rgba($background, 0.5); /* Darken on hover */
  }
}

@keyframes pulse {
  0% { 
    background-color: $red; 
    box-shadow: 0 0 3px $red;
  }
  50% { 
    background-color: $yellow; 
    box-shadow: 0 0 3px $yellow;
  }
  100% { 
    background-color: $red; 
    box-shadow: 0 0 3px $red;
  }
}

/********** ARCH LOGO *************/
.logo {
  background-color: $Lbackground;
  color: $blue;
  padding: 0 18px;
  border-radius: 10px;
  margin: 0 0.1rem 0 0;
}

.cava,
.notif-hist {
  color: $magenta;
  border-radius: 10px;
  padding-top: 0.4rem;
  padding-bottom: 0.3rem;
}

.cava {
  margin-left: 2rem; /* gotta center this bitch it hurts my eyes */
}

.cpu-t1 {
  padding-right: 0px;
  border-radius: 0;
}

.cpu-t2 {
  background-color: $bar-bg;
  color: #dadada;
  padding: 0 12px;
  padding-left: 0px;
  border-radius: 0 10px 10px 0;
}


$borderRadius: 0.6em;

/* System Tray */
.systray {
  background-color: $Lbackground;
  color: $foreground;
  padding: 0.5rem;
  border-radius: 10px;
}

.systray menu {
  border-radius: $borderRadius;
  padding: 0.33em;
  color: #EBDBB2;
  background-color: $Lbackground;

  menuitem {
    padding: 0.25em;

    arrow {
      -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
      color: #EBDBB2;
      min-width: 1em;
      min-height: 1em;
    }

    radio {
      min-width: 1em;
      min-height: 1em;
      padding-right: 0.5em;
      -gtk-icon-source: -gtk-scaled(url("resource:///org/gnome/arc-theme/assets/radio-unchecked-dark.png"));

      &:checked {
        -gtk-icon-source: -gtk-scaled(url("resource:///org/gnome/arc-theme/assets/radio-checked-dark.png"));
        &:hover {
          -gtk-icon-source: -gtk-scaled(url("resource:///org/gnome/arc-theme/assets/radio-checked-selected.png"));
        }
      }

      &:hover {
        -gtk-icon-source: -gtk-scaled(url("resource:///org/gnome/arc-theme/assets/radio-unchecked-selected.png"));
      }
    }

    check {
      min-width: 1em;
      min-height: 1em;
      padding-right: 0.5em;
      -gtk-icon-source: -gtk-scaled(url("resource:///org/gnome/arc-theme/assets/checkbox-unchecked-dark.png"));

      &:checked {
        -gtk-icon-source: -gtk-scaled(url("resource:///org/gnome/arc-theme/assets/checkbox-checked-dark.png"));
        &:hover {
          -gtk-icon-source: -gtk-scaled(url("resource:///org/gnome/arc-theme/assets/checkbox-checked-selected.png"));
        }
      }

      &:hover {
        -gtk-icon-source: -gtk-scaled(url("resource:///org/gnome/arc-theme/assets/checkbox-unchecked-selected.png"));
      }
    }

    &:disabled label {
      color: $Lgrey;
    }

    &:hover {
      arrow {
        color: $background;
      }
      background-color: $Lbackground;
      color: $magenta;
    }
  }

  separator {
    background-color: $bg;
    padding-top: 0.06em;

    &:last-child {
      padding: unset;
    }
  }
}

.tray_box {
  background-color: $Lbackground;
  color: $bar-text;
  border-radius: 10px;
  padding-right: 1rem;
  padding-left: 1rem;
}

tooltip {
    background-color: $Lbackground;
    color: $foreground;
    padding: 1rem;
    border-radius: 1rem;
}

menu {
    background-color: $Lbackground;
    border-radius: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: $foreground;
    font-size: 1rem;
    font-weight: 600;
}

menu>menuitem {
    padding: 0.4rem 0.8rem;
    transition: 0.1s;
    border-radius: 1rem;
}

menu>menuitem:disabled {
    color: #7c6f64;
    background-color: transparent;
}

menu>menuitem:hover {
    color: $cyan;
    background-color: #1D1E1D;
}

menu>menuitem arrow {
    -gtk-icon-source: -gtk-icontheme("go-next-symbolic");
    color: #EBDBB2;
    min-width: 1em;
    min-height: 1em;
}
