#login-button {
  outline: none;
  border: 0;
  background: var(--cyan-light);
  transition: all 150ms ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 10rem;
  display: inline;
}
